/* ==========
Allgemein
========== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}
body {
	width: 100vw;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
// html {
// 	color-scheme: dark light;
// }
/* ==========
HEADER
========== */

/* ==========
MAIN
========== */
// Eingabe
form {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	#datum {
		display: block;
	}
	#labelSuche {
		text-transform: uppercase;
		font-size: 1.3rem;
	}
	#sprache {
		/* font-size: 2rem; */
		input {
			display: none;
		}
		label {
			transition: all 250ms;
		}
		.spracheChecked {
			font-size: 2.1rem;
			filter: grayscale(0);
		}
		.spracheUnchecked {
			font-size: 1.9rem;
			filter: grayscale(1);
		}
	}
}
// Artikel
.newsAusgabe {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 3rem 1rem;
	margin: 1rem;
	width: calc(100% - 2rem);
	background-color: hsl(20, 25%, 95%);
	padding: 1rem;
	border-radius: 10px;
	min-height: calc(100vh - 7rem);

	.article,
	> div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: #fff;
		min-height: 200px;
		border-radius: 10px 10px 0 0;

		> a {
			overflow: hidden;
			height: 350px;
			border-radius: 10px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				&:hover {
					transform: rotate(-3deg) scale(1.1);
				}
			}
		}
		.inhalt,
		> div {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding: 1rem;
			/* border: 2px solid green; */
			width: 100%;
			height: 100%;

			p:first-of-type {
				font-style: italic;
				font-size: 0.8rem;
			}
			h2 {
				margin-bottom: 1rem;
				font-weight: 600;
			}
			p {
				margin-bottom: 0.25rem;
			}
			date {
				margin: 0.5rem auto;
			}
			> a {
				border: 1px solid black;
				color: white;
				padding: 0.5rem 2rem;
				text-decoration: none;
				text-align: center;
				background-color: black;
				margin: 0.5rem auto;
				border-radius: 15px;

				&:hover {
					scale: 0.99;
				}
			}
		}
	}
}
/* ==========
FOOTER
========== */
